{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
 {% block title %}
   Home
 {% endblock title %}
 {% block body %}
   
 <!-- banner part start-->
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-xl-6">
               
                <div class="banner_text" style="margin-top: -25%;">
                    <div class="banner_text_iner">
                        <h1 style="font-family: sans-serif;">Bringing the future of healthcare</h1>
                        <!-- <p>Deep created replenish herb without night fruit day earth evening Called his
                            green were they're fruitful to over Sea bearing sixth Earth face. Them lesser
                            great you'll second </p> -->

                            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active" data-bs-interval="10000">
                                    <p>Deep created replenish herb without night fruit day earth evening Called his
                                        green were they're fruitful to over Sea bearing sixth Earth face. Them lesser
                                        great you'll second </p>
                                  </div>
                                  <div class="carousel-item" data-bs-interval="2000">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo tempore ipsam molestias commodi molestiae eligendi modi excepturi? Velit eos nam possimus. Cum temporibus ullam delectus dolorem culpa, officiis optio a!</p>
                                  </div>
                                  <div class="carousel-item">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt officiis ipsa voluptates ut quae dignissimos, ad omnis repellendus, velit modi fuga error explicabo eum neque maxime illum nemo est eligendi.</p>
                                  </div>
                                </div>
                                </div>



                        <a href="{% url 'rays:rays' %}" class="btn_2">Make Check Now !</a>
                        <div class="banner_item">
                            <div class="single_item">
                                <img src="{% static 'img/icon/banner_1.svg' %}" alt="">
                                <h5>Emergency Cases</h5>
                            </div>
                            <div class="single_item">
                                <img src="{% static 'img/icon/banner_2.svg' %}" alt="">
                                <h5>Easy Appointment</h5>
                            </div>
                            <div class="single_item">
                                <img src="{% static 'img/icon/banner_3.svg' %}" alt="">
                                <h5>Qualfied Doctores</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner part start-->

<!-- feature_part start-->
<section class="feature_part padding_top">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4 align-self-center">
                <div class="single_feature_text ">
                    <h2>Provide Special
                        Services</h2>
                    <p>Third beast two she'd multiply they're form he above do Replenish days said
                        set doesn't can't subdue air herb lesser dominion saying fruitful given
                        fifth winged Third beast two she'd multiply they're form he above their
                        Replenish days said set doesn can'which.</p>
                    <a href="#" class="btn_2">More service</a>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <div class="feature_item">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="single_feature">
                                <div class="single_feature_part">
                                    <span class="single_feature_icon"><img src="{% static 'img/icon/feature_1.svg' %}"
                                            alt=""></span>
                                    <h4>Better Future</h4>
                                    <p>Darkness multiply rule Which from without life creature blessed
                                        give moveth moveth seas make day which divided our have.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="single_feature">
                                <div class="single_feature_part">
                                    <span class="single_feature_icon"><img src="{% static 'img/icon/feature_2.svg' %}"
                                            alt=""></span>
                                    <h4>Better Future</h4>
                                    <p>Darkness multiply rule Which from without life creature blessed
                                        give moveth moveth seas make day which divided our have.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="single_feature">
                                <div class="single_feature_part">
                                    <span class="single_feature_icon"><img src="{% static 'img/icon/feature_2.svg' %}"
                                            alt=""></span>
                                    <h4>Better Future</h4>
                                    <p>Darkness multiply rule Which from without life creature blessed
                                        give moveth moveth seas make day which divided our have.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="single_feature">
                                <div class="single_feature_part">
                                    <span class="single_feature_icon"><img src="{% static 'img/icon/feature_1.svg' %}"
                                            alt=""></span>
                                    <h4>Better Future</h4>
                                    <p>Darkness multiply rule Which from without life creature blessed
                                        give moveth moveth seas make day which divided our have.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- feature_part start-->

<!-- our_ability part start-->
<section class="our_ability section_padding">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6 col-lg-6">
                <div class="our_ability_img">
                    <img src="{% static 'img/ability_img.png' %}" alt="">
                </div>
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="our_ability_member_text">
                    <h2>Our Patients
                        Are at the Centre of
                        Everything We Do</h2>
                    <p>Kind lesser bring said midst they're created signs made the beginni years
                        created Beast upon whales herb seas evening she'd day green dominion
                        evening in moved have fifth in won't in darkness fruitful god behold
                        whos without bring created creature.</p>
                    <ul>
                        <li><span class="ti-mouse"></span>Modern Technology</li>
                        <li><span class="ti-heart-broken"></span>Worldclass Facilities</li>
                        <li><span class="ti-package"></span>Experienced Nurse</li>
                        <li><span class="ti-headphone-alt"></span>24 Hours Support</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- our_ability part end-->

<!-- top_service part start-->
<section class="top_service our_ability padding_bottom">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-5 col-lg-5">
                <div class="our_ability_member_text">
                    <h2>We Analyse Your
                        Health States In Order
                        To Top Service</h2>
                    <p>Kind lesser bring said midst they're created signs made the beginni years
                        created Beast upon whales herb seas evening she'd day green dominion
                        evening in moved have fifth in won't in darkness fruitful god behold
                        whos without bring created creature.</p>
                    <a href="#" class="btn_2">read more</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="our_ability_img">
                    <img src="{% static 'img/top_service.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- top_service part end-->

<!--::review_part start::-->
<section class="review_part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="client_review_part owl-carousel">
                    <div class="client_review_single">
                        <img src="{% static 'img/Quote.png' %}" class="Quote" alt="quote">
                        <div class="client_review_text">
                            <p>Also made from. Give may saying meat there from heaven it lights face had is gathered
                                god dea earth light for life may itself shall whales made they're blessed whales
                                also made from give
                                may saying meat. There from heaven it lights face had amazing place</p>
                        </div>
                        <h4>Mosan Cameron, <span>Executive of fedex</span></h4>
                    </div>
                    <div class="client_review_single">
                        <img src="{% static 'img/Quote.png' %}" class="Quote" alt="quote">
                        <div class="client_review_text media-body">
                            <p>Also made from. Give may saying meat there from heaven it lights face had is gathered
                                god dea earth light for life may itself shall whales made they're blessed whales
                                also made from give
                                may saying meat. There from heaven it lights face had amazing place</p>
                        </div>
                        <h4>Mosan Cameron, <span>Executive of fedex</span></h4>
                    </div>
                    <div class="client_review_single">
                        <img src="{% static 'img/Quote.png' %}" class="Quote" alt="quote">
                        <div class="client_review_text">
                            <p>Also made from. Give may saying meat there from heaven it lights face had is gathered
                                god dea earth light for life may itself shall whales made they're blessed whales
                                also made from give
                                may saying meat. There from heaven it lights face had amazing place</p>
                        </div>
                        <h4>Mosan Cameron, <span>Executive of fedex</span></h4>
                    </div>
                    <div class="client_review_single">
                        <img src="{% static 'img/Quote.png' %}" class="Quote" alt="quote">
                        <div class="client_review_text">
                            <p>Also made from. Give may saying meat there from heaven it lights face had is gathered
                                god dea earth light for life may itself shall whales made they're blessed whales
                                also made from give
                                may saying meat. There from heaven it lights face had amazing place</p>
                        </div>
                        <h4>Mosan Cameron, <span>Executive of fedex</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::review_part end::-->

<!--::regervation_part start::-->
<section class="regervation_part">
    <div class="container">
        <div class="row align-items-center regervation_content">
            <div class="col-lg-7 col-md-6">
                <div class="regervation_part_iner">
                    <form method="POST" action="{% url 'home:home_page'%}" name="contact-form">
                        {% csrf_token %}
                        <h2 class="pt-4">Make an Appointment</h2>
                        {% bootstrap_form form %}
                        {% buttons %}
                        <button class="btn btn-success" onclick="submitForm()">
                            Make an Appointment
                        </button>
                        
                        {% endbuttons %}
                       
                    </form>
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="reservation_img">
                    <img src="{% static 'img/reservation.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--::regervation_part end::-->


<!-- intro_video_bg start-->
<section class="intro_video_bg mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro_video_iner text-center">
                    <h2>View Our History</h2>
                    <div class="intro_video_icon">
                        <a id="play-video_1" class="video-play-button popup-youtube"
                            href="https://www.youtube.com/watch?v=pBFQdxA-apI">
                            <span class="ti-control-play"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- intro_video_bg part start-->


{% endblock body %}