<!-- loading static for images and javascript file links  -->
{% load static %}

<!-- loading bootstrap4 for forms and buttons  -->
{% load bootstrap4 %}

<div class="limiter" >
    <div class="container-login100">
        <div class="log_container" style=" background-color: white; padding: 30px 100px;border:5px solid rgb(49, 95, 49);width:500px">

        <form class="login100-form validate-form" method="post" ">
            <span class="login100-form-title" style="color: black;font-family: sans-serif;font-weight: bolder;">
                Member Join
            </span>
            {% csrf_token %}
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">User Name</label>
                <input class="form-control" name="username" placeholder="username" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">First Name</label>
                <input class="form-control" name="first_name" placeholder="first name" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Last Name</label>
                <input class="form-control" name="last_name" placeholder="last name" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input class="form-control" name="email" placeholder="email" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Password</label>
                <input class="form-control" type="password" name="password1" placeholder="password" id="exampleInputPassword1" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password Confirmation</label>
                <input type="password" name="password2" placeholder="Password confirm" class="form-control" id="exampleInputPassword2">
              </div>
              <button type="submit" class="btn btn-success">Sign Up</button>
              <div class="em">
                <a href="{% url 'login' %}">I Have Already An account !</a>
              </div>
              
          </form>
        </div>
    </div>
</div>




<!--===============================================================================================-->	
<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/tilt/tilt.jquery.min.js' %}"></script>
<script >
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->
<script src="{% static 'js/main.js' %}"></script>
                   